{
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": "./src/assets",
          "@common": "./src/common",
          // "@animated": "./src/common/animated",
          // "@config": "./src/config",
          "@features": "./src/features",
          "@library": "./src/library",
          // "@components": "./src/library/components",
          // "@modals": "./src/library/modals",
          // "@networking": "./src/library/networking",
          "@utils": "./src/library/utils",
          // "@model": "./src/model",
          "@navigation": "./src/navigation",
          "@store": "./src/store",
          // "@theme": "./src/themes",
          // "@transition": "./src/transition",
          // "@app_redux": "./src/store_redux"
        }
      }
    ]
  ]
}
